@{
    ViewBag.Title = "Home Page";
}
<style>
    .col-md-4{
        border-right:double;
    }
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Mượn sách</h2>
            <p>
                Chức năng này cho phép thủ thư thực hiện chức năng cho mượn sách.Cụ thể là dựa vào thông tin trên thẻ độc giả để xác thực
                độc giả đã tồn tại và kế tiếp là nhập thông tin phiếu nhập để tiến hành cho mượn sách.
            </p>
            <p><a class="btn btn-default" href="/Home/MuonSach">Thực hiện &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Trả sách</h2>
            <p>Chức năng cho phép thủ thư thực hiện chức năng trả sách.Cụ thể là nhập thông tin những cuốn sách được trả đề hình thành phiếu trả. </p>
            <p><a class="btn btn-default" href="/Home/TraSach">Thực hiện &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Thống kê</h2>
            <p>
                Chức năng này cho phép thủ thư thống kê số lượng sách mượn của độc giả trong một khoảng thời gian.Cụ thể là thủ thư sẽ nhập
                thông tin ngày bắt đầu và ngày kết thúc muốn thống kê,nhấn submit và dữ liệu thủ thư yêu cầu sẽ được hiển thị.
            </p>
            <p><a class="btn btn-default" href="/Home/ThongKe">Thực hiện &raquo;</a></p>
        </div>
    </div>
</div>

