
@{
    ViewBag.Title = "MuonSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/muonsach.css" rel="stylesheet" />
<div id="tieude">
    <h1> Mượn sách</h1>
</div><hr />
<div id="huongdansudung">
    <h3>Hướng dẫn sử dụng</h3>
    <h4>
        B1: Thủ thư sẽ kiểm tra thông tin đọc giả bằng cách gõ tên hoặc mã đọc giả vào ô tìm kiếm
        <br /><br />
        B2: Nếu thông tin đọc giả hợp lệ và có thể cho mượn, thủ thư sẽ nhập mã hoặc tên sách
        vào ô tìm kiếm sách. Lúc này danh sách sẽ hiện ra và thủ thư sẽ chọn cuốn sách để
        thêm vào phiếu mượn.<br /><br />
        B3: Thủ thư bấm xuất phiếu mượn để hoàn tất việc mượn sách.

    </h4>
</div><hr />
<div id="thongtindocgia" class="col-lg-3">
    <h3>Tìm kiếm đọc giả</h3>
    <form>
        <div class="form-group">
            <label>
                <input type="text" name="timkiem" class="form-control" placeholder="Nhập mã hoặc tên" /><br />
                <button class="btn btn-default">Tìm kiếm</button>
            </label>
        </div>
    </form>
    <br />
    <h3> Thông tin đọc giả</h3>
    <p>Tên đọc giả</p>
    <p>Ngày hết hạn</p>
    <p>Số lượng sách còn nợ</p>
</div>
<div id="timkiemsach" class="col-lg-5">
    <h3>Danh mục sách</h3>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Mã/tên sách</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Mã hoặc tên sách">
        </div>
        <button type="submit" class="btn btn-default">Tìm kiếm</button>
    </form>
    <hr />
    <p>Kết quả tìm kiếm</p>
    <table class="table table-bordered">
        <tr>
            <th>Tên sách</th>
            <th>Tác giả</th>
            <th>Tình trạng</th>
            <th>#</th>
        </tr>
    </table>
</div>
<div id="thongtinphieumuon" class="col-lg-4">

    <h3>Thông tin phiếu mượn</h3>

    <table class="table table-bordered" id="thongtinphieumuon" width="400">
        <tr>
            <th>Tên sách</th>
            <th>Ngày mượn</th>
            <th>Ngày phải trả</th>
            <th>#</th>
        </tr>
    </table>
    <label>
        Tổng số lượng sách:
        <input type="text" class="form-control" disabled />
    </label>
    <button class="btn btn-default"> Xuất phiếu mượn</button>
</div>