
@{
    ViewBag.Title = "MuonSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/muonsach.css" rel="stylesheet" />
<script>

</script>
<div id="tieude">
    <h1> Mượn sách</h1>
</div><hr />
<div id="huongdansudung">
    <h3>Hướng dẫn sử dụng</h3>
    <h4>
        B1: Thủ thư sẽ kiểm tra thông tin đọc giả bằng cách gõ tên hoặc mã đọc giả vào ô tìm kiếm
        <br />
        B2: Nếu thông tin đọc giả hợp lệ và có thể cho mượn, thủ thư sẽ nhập mã cuốn sách
        vào ô cho phép nhập. Lúc này thủ thư sẽ bấm thêm và cuốn sách sẽđược thêm vào phiếu mượn.<br />
        B3: Thủ thư bấm xuất phiếu mượn để hoàn tất việc mượn sách.

    </h4>
</div>
<form class="form-inline">
    <div id="thongtindocgia" class="col-lg-3">
        <h3>Tìm kiếm đọc giả</h3>
        <div class="form-group">
            <label>
                <input type="text" ng-model="timkiem" class="form-control" placeholder="Nhập mã hoặc tên" /><br />
                <br />
                <button class="btn btn-default" ng-click="timkiemdocgia(timkiem)">Tìm kiếm</button>
            </label>
        </div>
        <h3>Thông tin đọc giả</h3>
        <p>Tên đọc giả</p>
        <p>Ngày hết hạn</p>
        <p>Số lượng sách còn nợ</p>
    </div>
    <div id="timkiemsach" class="col-lg-9">
        <h3>Nhập thông tin sách</h3>
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Mã sách</label>
                <input type="text" class="form-control" id="masach" ng-model="masach" placeholder="Mã sách">
            </div>
            <button type="button" class="btn btn-default" ng-click="themsach(masach)">Thêm</button>
        <br />
        <h3>Thông tin phiếu mượn</h3>

        <table class="table table-hover" id="thongtinphieumuon" width="400">
            <tr>
                <th>Điều khiển</th>
                <th>Tên sách</th>
                <th>Ngày mượn</th>
                <th>Ngày phải trả</th>

            </tr>
            <tr ng-repeat="sach in itemsach">
                <td><a class="btn btn-danger" title="Xóa" placement="right"><span class="fa fa-remove">Xóa</span></a></td>
                <td>{{sach.Ten}}<input type="hidden" id="ten" value="{{sach.Ten}}" /></td>
                <td>{{sach.NgayMuon}}<input type="hidden" value="{{sach.NgayMuon}}" /></td>
                <td>{{sach.NgayPhaiTra}}<input type="hidden"  value="{{sach.NgayPhaiTra}}"/></td>
            </tr>
        </table>
        <label>
            Tổng số lượng sách:
            <input type="text" class="form-control" disabled />
        </label>
        <label>
            <button class="btn btn-default" type="submit">Xuất phiếu mượn</button>
        </label>
    </div>
</form>
