
@{
    ViewBag.Title = "TraSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/trasach.css" rel="stylesheet" />
<link href="~/Content/CSS/muonsach.css" rel="stylesheet" />
<script>
    angular.module('postApp', [])
     .controller('postController', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {
         //load danh sách đọc giả
         $scope.list_docgia = [];
         $http.get('/Home/thongtindocgia').then(function (response) {
             $scope.list_docgia = response.data;
         }, function (response) {
             //Showing errors
         });
         // tìm kiếm thông tin đọc giả
         //array did filter
         $scope.docgia = [];
         $scope.timkiemdocgia = function (value) {
             $scope.docgia = $filter('filter')($scope.list_docgia, value);
         };



     }]);
</script>
<script>
    function themsach() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }
        var ngaytra = "";
        ngaytra = mm + '/' + dd + '/' + yyyy;
        var soluong = Number(document.getElementById("soluong").value);
        soluong = soluong + 1;
        var thongtinsach = document.getElementById("thongtinsach1").value;
        var arr = thongtinsach.split(";");
                // table thông tin sách mượn
                var rows = "";
                rows += "<td>"
                + "<input type='button' onclick='xoadong(this)' value='Xóa'>" + "<input type='hidden' name='iddausach' value='" + arr[2] + "'>" + "</td><td>"
                + arr[0] + "<input type='hidden' name='ma' value='" + arr[0] + "'>" + "</td><td>"
                + arr[1] + "<input type='hidden' name='ten' value='" + arr[1] + "'>" + "</td><td>"
                + ngaytra + "<input type='hidden' name='ngaytra' value='" + ngaytra + "'>" + "</td><td>"

                var tbody = document.querySelector("#thongtinphieutra tbody");
                var tr = document.createElement("tr");
                tr.innerHTML = rows;
                tbody.appendChild(tr);
                oFormObject = document.forms['sach'];
                oFormObject.elements["soluong"].value = soluong.toString();
            
        
    }
    function xoadong(r) {
        var hoi = confirm("Bạn có chắn chắn muốn xóa");
        if (hoi == true) {
            var i = r.parentNode.parentNode.rowIndex;
            //alert(tongtien1);
            var soluong = Number(document.getElementById("soluong").value);
            soluong = soluong - 1;
            oFormObject = document.forms['sach'];
            oFormObject.elements["soluong"].value = soluong.toString();

            document.getElementById("thongtinphieutra").deleteRow(i);
            for (var j = i; j < table.rows.length; j++) {
                table.rows[j].cells[0].firstChild.innerHTML = j - 1;
            }
        }
    }
    function timkiemsach() {
        var select1 = document.getElementById("thongtinsach");
        var select2 = document.getElementById("thongtinsach1");
        var txt = document.getElementById("txttimkiemsach").value.toLowerCase();

        for (var option in select2) {
            select2.remove(option);
        }

        if (txt.length == 0) {
            return;
        }

        for (var i = 0; i < select1.length; i++) {
            var row = select1.options[i].text.toLowerCase();
            var row2 = select1.options[i].text;
            if (row.search(txt) != -1) {
                var opt = document.createElement('option');
                opt.text = row;
                select2.add(opt);
            }
        }
    }
</script>
<div id="tieude">
    <h1>Trả sách</h1>
</div><hr />
<div id="huongdansudung">
    <h3>Hướng dẫn sử dụng</h3>
    <h4>
        B1: Thủ thư nhập thông tin phiếu trả như yêu cầu.<br /><br />
        B2: Thủ thư bấm thêm để thêm thông tin sách cần trả. <br /><br />
        B3: Thủ thư bấm lưu phiếu trả để hoàn tất việc trả sách.

    </h4>
</div>
<section ng-app="postApp" ng-controller="postController">
    <form class="form" id="sach" method="post" action="/Home/TraSach">
        <div id="thongtindocgia" class="col-lg-3">
            <h3>Tìm kiếm đọc giả</h3>
            <div class="form-group">
                <label>
                    <input type="text" ng-model="timkiem" name="madocgia" class="form-control" placeholder="Nhập mã độc giả" /><br />
                    <br />
                    <button class="btn btn-default" type="button" ng-click="timkiemdocgia(timkiem)">Tìm kiếm</button>
                </label>
            </div>
            <div class="model-body" ng-repeat="item in docgia">
                <h3>Thông tin đọc giả</h3>
                <p>Tên đọc giả:{{item.HoTen}}</p>
                <p>Ngày hết hạn:{{item.NgayHetHan}}</p>
            </div>
        </div>
        <div id="timkiemsach" class="col-lg-9">
            <h3>Nhập thông tin sách</h3>
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Tên sách</label>
                <input type="text" id="txttimkiemsach" onkeyup="timkiemsach()" class="form-control" placeholder="Tên sách">
                <select size="5" id="thongtinsach1" class="form-control" style="width: 400px"> </select>
                <select id="thongtinsach" style="display:none">
                    @foreach (var item in Model)
                    {
                        <option value="@item.id">
                            @item.id;@item.ten;@item.Id_dausach
                        </option>
                    }
                </select>
            </div>
            <button type="button" class="btn btn-default" onclick="themsach()">Thêm</button>
            <br />
            <h3>Thông tin phiếu trả</h3>
            @Html.ValidationSummary()
            <table class="table table-hover" id="thongtinphieutra" width="400">
                <thead>
                    <tr>
                        <th>Điều khiển</th>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Ngày trả</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <label>
                Tổng số lượng sách:
                <input type="text" class="form-control" id="soluong" name="soluong" disabled />
            </label>
            <label>
                <button class="btn btn-default" type="submit">Lưu phiếu trả</button>
            </label>
        </div>
    </form>
</section>

