

<div id="page" class="row"></div>
<br />
<div class="text-center row">
    <ul class="pager">
        <li><a href="#"><span class="glyphicon glyphicon-hand-up"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-hand-left"></span></a></li>
        <li><a href="#"><span id="status"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-hand-right"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-hand-down"></span></a></li>
    </ul>
    <script src="~/Scripts/DocGia/phantrangtra.js"></script>
</div>
