body{
    margin:0;
    padding:0;
}

#thongtindocgia h2{
    text-align:center;
}
#thongtindocgia form{
    text-align:center;
}
#danhsachsachmuon h2{
    text-align:center;
}
#thongtindocgia{
    background-color:antiquewhite;
}

