body {
    margin:0;
    padding:0;
}
#tieude{
    text-align:center;
    padding-top:50px;
}
#huongdansudung{
    background-color:aquamarine;
}
#nhapthongtin{
    border-right:groove;
}
#thongtinphieutra{

}
